.wrapper {
    margin: 5px;
}

.face {
    width: 75px ;
    height: 75px;
    border: solid 2px black;
    background: yellow;
    border-radius: 50px;
}

.eye {
    width: 6px;
    height: 6px;
    border: solid 1px black ;
    border-radius: 3px;
    z-index: 1;
    position: relative;
    background-color: white;
}

.left {
    left: 32px;
    top: 26px;
}
.right {
    left: 54px;
    top: 18px;
}
.middle {
    left: 12px ;
    top: 3px;
}
.mouth {
    width: 30px;
    height: 10px;
    border: solid 1px black;
    border-radius:0 0 45px 45px;
    margin: 24px ;
    position: left ;
    right: 1em ;
    left: 1em ;
    background-color: black;
}

.pupil {
    width: 2px;
    height: 2px;
    border: solid 1px black;
    border-radius: 2px;
    position: relative ;
    top: 1px ;
    left: 2px;
    background-color: black;
}
.body {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: greenyellow;
  }
  .legs { 
    ont-family: Verdana;
    font-size: 100px;
    font-weight: bold;
    z-index: -1;
    }

.left-leg { 
    color: plum;
    position: relative;
    line-height: 250px;
    margin: -100px 0px 0px 30px;
    transform: rotate(10deg);
    z-index: -1;}

.right-leg { 
    color: purple;
    position: relative;   
    line-height: 200px;
    margin: -250px -60px 0px 0px;
    transform: scaleX(-1) rotate(2deg);
    z-index: -1;}
          

              
